/* on change la police d'écriture de tout les champs de text et on fait que il n'y ai pas de bordur et que les élements prennent un max de place */
*{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 0px;
}

/* Tête du site */
header{
    margin-right: 10%;
    transition: transform 0.5s ease-out;

    background-color: transparent; /* Couleur gris clair */
    position: sticky;
    top:0%;
    height: 13vh;
}

/* Logo du site */
img.logo{
    scale: 46%;
}

/* */
h2.begin{
    font-size: 1vw;
}

table.logoAndTitle{
    margin-right: 1%;
    font-size: 1vw; 
    border-collapse: separate;
}

th.menu{
    border-collapse: separate; /* Permet d'espacer les cellules */
    padding-right: 2vw;
}

/* Mets des espaces entre la cellule du titre et logo et le menu de selection*/
.spaced-cell {

    padding-right: 10vw; /* Ajoute de l'espace à droite */
}

/* Bouton principal */
.dropdown-button {
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
}

/* on change la couleur du bouton au survole */
.dropdown-button:hover {
    text-decoration: underline;
}

/* on paramètre le menu */
.language-dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

/* Afficher le menu au survol */
.language-dropdown:hover .dropdown-content {
    display: block;
}

/* Liste déroulante cachée */
.dropdown-content {
    background-color: #0000004b;
    display: none;
    position: absolute;
    min-width:  1.25vw;
    font-size: 0.75vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a { 
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px 5px 5px 5px;    
}

/* changer la couleur du texte de langue au survol */
.dropdown-content a:hover{
    background-color: #0000004b;
}

/*
* Menu principal du site change les liens
*/
table th a{
    color: #000;
    text-decoration: none;
}

table th a:hover{
    text-decoration: underline;
    border-radius: 5px 5px 5px 5px;
}

/*
* Section "Bienvenue" avec photo ski
*/

h1.bienvenue{
    text-align: center;

    font-family: "Brush Script MT", cursive; 
    font-size: 5vw;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 50;

    line-height: 150.4px;

    margin-right: 35%;
    margin-left: 35%;

    border-radius: 105px 105px 105px 105px;
}


section.bienvenue{
    overflow: hidden;

    background-image: url("../images/bg1.JPG");
    background-size: cover;
    background-repeat: no-repeat; /* Empêche la répétition de l'image */ 
    background-position: center; /* Centre l'image */ 

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
    text-align: center;
    height: 50vw; /* Hauteur égale à la hauteur de la fenêtre */ 
    
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    border-radius: 150vw 150vw 0% 0%;
}


section.bienvenue:before {
    overflow: hidden;

    content: ""; /* Nécessaire pour la pseudo-classe */
    position:fixed ;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;

    background-color: #5757577c; /* Couleur de remplacement pour le blanc */
    background-size: 120px;

    z-index: -1; /* Place la couleur derrière l'image de fond */
}

h4.bienvenue{
    font-size: 1vw;
    border-radius: 25px 25px 25px 25px;
    margin-top: 15%;
    margin-right: 35%;
    margin-left: 35%;
    color: rgb(0, 0, 0);
    background-color: #ffffff7e;
}

/*
* Section "presentation"
*/

img.presentation{
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 15vw;
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
}

h1.presentation{
    font-style: italic;

    margin-bottom: 15%;
  
    text-align: center;
    font-size: 2vw; 

    text-decoration: underline;
}

table p.presentation{
    text-align: left;
    margin-left: 2%;
    font-size: 1vw;
}

section.presentation{
    overflow: hidden;
    height: 50vw;
    background-color: #af9d389a;
}

/*
* Section "Pourquoi ce blog ?"
*/

img.why{
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 15vw;

    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
}

h1.why{

    font-style: italic;

    margin-bottom: 15%;
  
    text-align: center;
    font-size: 2vw;
    

    text-decoration: underline;
}

section.why table{
    margin-left: 2%;
}


table p.why{
    text-align: left;
    font-size: 1vw;
}

section.why{
    overflow: hidden;
    height: 50vw;
    background-color: #1d98a157;
}

/*
* Section "Ce que tu va trouver ici"
*/

section.trouver{
    overflow: hidden;
    height: 50vw;
    background-color: #a11d5b57;
}

h1.trouver{

    font-style: italic;

    margin-bottom: 15%;
  
    text-align: center;
    font-size: 2vw;

    text-decoration: underline;
}

table ul.trouver{
    text-align: left;
}

img.trouver{
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 15vw;
}

ul.trouver{
    list-style-type:circle ;
    font-size: 1vw;
}

/*
* Section "Ce que tu va trouver ici"
*/

section.interactif{
    overflow: hidden;
    height: 50vw;
    background-color: #2ca11d57;
}

h1.interactif{

    font-style: italic;

    margin-bottom: 15%;
  
    text-align: center;
    font-size: 2vw;

    text-decoration: underline;
}

img.interactif{
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 15vw;

    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
}

p.interactif{
    font-size: 1vw;
    text-align: left;
}


/*
* Section "Bienvenue" dans Mes Projets avec Photo ski
*/

h1.bienProjet{
    text-align: center;
    font-family: "Brush Script MT", cursive; 
    font-size: 5vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 50; 
    line-height: 150.4px;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 105px 105px 105px 105px;
}

section.bienProjet{
    background-image: url("../images/bg2.JPG");
    background-size: cover;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    text-align: center;
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image */
    height: 50vw; /* Hauteur égale à la hauteur de la fenêtre */
    
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    border-radius: 150vw 150vw 0% 0%;
}

section.bienProjet:before {
    overflow: hidden;
    content: ""; /* Nécessaire pour la pseudo-classe */
    position:fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5757577c; /* Couleur de remplacement pour le blanc */
    background-size: 120px;
    z-index: -1; /* Place la couleur derrière l'image de fond */
}

p.bienProjet{
    border-radius: 25px 25px 25px 25px;
    font-weight: 700;
    font-size: 1vw;
    margin-top: 15%;
    margin-right: 30%;
    margin-left: 30%;
    color: rgb(0, 0, 0);
    background-color: #ffffffb0;
}

/*
* Section "Tic Tac Toe"
*/

section.ticTacToe{
    overflow: hidden;
    height: 60vw;
    background-color: #af9d389a;
}

img.ticTacToe{
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
    margin-top: 1vw;
    margin-left: 80px;
    margin-right: 80px;
}

h1.ticTacToe{

    font-style: italic;

    margin-bottom: 15%;
  
    text-align: center;
    font-size: 2vw;

    text-decoration: underline;
}

p.ticTacToe{
    font-size: 1vw;
    text-align: left;
}

h3.ticTacToe{
    text-decoration: underline;
    font-size: 1.5vw;
    text-align: left;
}

/*
* Section "Enigmatic Game"
*/

section.enigme{
    overflow: hidden;
    height: 60vw;
    background-color: #1d98a157;
}

img.enigme{
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
    margin-top: 1vw;
    margin-top: 115px;
    margin-left: 80px;
    margin-right: 80px;
}

h1.enigme{

    font-style: italic;

    margin-bottom: 15%;
  
    text-align: center;
    font-size: 2vw;

    text-decoration: underline;
}

p.enigme{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 1vw;
    text-align: left;
}

h3.enigme{
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline;
    font-size: 1.5vw;
    text-align: left;
}

/*
* Section "Histoire écrite"
*/

section.histoire{
    overflow: hidden;
    height: 60vw;
    background-color: #a11d5b57;
}

img.histoire{
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
    margin-top: 1vw;
    margin-top: 115px;
    margin-left: 80px;
    margin-right: 80px;
}

h1.histoire{

    font-style: italic;

    margin-bottom: 15%;
  
    text-align: center;
    font-size: 2vw;

    text-decoration: underline;
}

p.histoire{
    font-size: 1vw;
    text-align: left;
}

h3.histoire{
    text-decoration: underline;
    font-size: 1.5vw;
    text-align: left;
}



/*
* Section "Bienvenue" de "funfact" avec photo ski
*/

h1.bienfact{
    text-align: center;
    font-family: "Brush Script MT", cursive; 
    font-size: 5vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 50; 
    line-height: 150.4px;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 105px 105px 105px 105px;
}

section.bienfact{
    overflow: hidden;
    background-image: url("../images/bg3.JPG");
    background-repeat: no-repeat; /* Empêche la répétition de l'image */ 
    background-size: cover;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    text-align: center;
    height: 50vw; /* Hauteur égale à la hauteur de la fenêtre */
    
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    border-radius: 150vw 150vw 0% 0%;
}

section.bienfact:before {
    overflow: hidden;
    content: ""; /* Nécessaire pour la pseudo-classe */
    position:fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5757577c; /* Couleur de remplacement pour le blanc */
    background-size: 120px;
    z-index: -1; /* Place la couleur derrière l'image de fond */
}

h4.bienfact{
    border-radius: 25px 25px 25px 25px;
    margin-top: 20vw;
    font-size: 1vw; 
    margin-right: 35%;
    margin-left: 35%;
    color: rgb(0, 0, 0);
    background-color: #ffffff7e;
}

/*
* Section "Tic Tac Toe"
*/

section.explanation{
    height: auto;
    background-color: #af9d389a;
}

img.explanation{
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: auto;
    margin-top: 115px;
    margin-left: 80px;
    margin-right: 80px;
}

h1.explanation{

    font-style: italic;

    margin-bottom: 3%;
  
    text-align: center;
    font-size: 2vw;

    text-decoration: underline;
}

p.explanation{
    font-weight: 700;
    font-size: 1vw;
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
}

h3.explanation{
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: underline;
    font-size: 1.5vw;
    text-align: left;
}


/*
* Section "Bienvenue" dans Mes Projets avec Photo ski
*/

h1.bienform{
    text-align: center;
    font-family: "Brush Script MT", cursive; 
    font-size: 5vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 50; 
    line-height: 150.4px;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 105px 105px 105px 105px;
}

section.bienform{
    background-image: url("../images/bg4.JPG");
    background-size: cover;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    text-align: center;
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image */
    height: 50vw; /* Hauteur égale à la hauteur de la fenêtre */
    
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    border-radius: 150vw 150vw 0% 0%;
}

section.bienform:before {
    overflow: hidden;
    content: ""; /* Nécessaire pour la pseudo-classe */
    position:fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5757577c; /* Couleur de remplacement pour le blanc */
    background-size: 120px;
    z-index: -1; /* Place la couleur derrière l'image de fond */
}

/*
* Section "Tic Tac Toe"
*/

section.explanation_form{
    height: auto;
    background-color: #af9d389a;
}

img.explanation_form{
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
    width: 30vw; /* La largeur de l'image sera 50% de la largeur de la fenêtre */
    height: auto;
    margin-top: 1vw;
    margin-left: 80px;
    margin-right: 80px;
}

h1.explanation_form{

    font-style: italic;

    margin-bottom: 3%;
  
    text-align: center;
    font-size: 2vw;

    text-decoration: underline;
}

p.explanation_form{
    font-weight: 700;
    font-size: larger;
    text-align: left;
    font-size: 1vw; 
}

h3.explanation_form{
    text-decoration: underline;
    font-size: 1.5vw;
    text-align: left;
}

/*
* formulaire dans la page formulaire du site
*/
section.formulaire{
    overflow: hidden;
    height: 60vh;
    background-image: url("../images/form_bg.jpg");
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image */
    background-size: cover;

    padding: 15%;

    text-align: center;

    background-color: #1d98a19c;
}

form.popupform{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: auto;
    padding: 4%;

    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.788);
}

h1.form{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}


section.confirmationbg{
    background-image: url("../images/confirmation.jpg");
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image */
    background-size: cover;

    height: 80vh;
}

form.confirmation{
    margin-right: auto;
    margin-left: auto;

    width: 70vw;
    height: auto;

    padding: 2%;

    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 15px 15px 15px 15px;
}

h1.confirmation{
    font-weight: 600;
    font-size: 1.5vw;
}

p.confirmation{
    font-weight: 600;
    font-size: 1.5vw;
}

body.confirmation{
    background-color: grey;
}

/*
* Change tout les formulaire
*/
form {
    background-color: #f1f1f181;
    
    font-family: 'Roboto', sans-serif;
}

/*
* Change tout les label d'un
*/
label.form{
    font-size: 1vw;
    font-weight: bold;
    color: rgb(0, 0, 0);
    height: 5vh;
}

h1.form{
    font-size: 2vw;
}

/*
* Change tout les label et textarea
*/
input.form, textarea.form{
    background-color: #ffffffe3;
    width: 30vw;
    height: 2vh;
    padding: 12px;
    margin: 10px ;
    border: 1px solid #ccc;
    border-radius: 13px;
}


/*
* Change tout les textarea
*/
textarea.form{
    padding: 2%;
    width: 30vw;
    height: 12vh;
}

/*
* Change les input du formulaire
*/
input:focus, textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/*
* Change les buttons
*/
button.submit {
    margin-bottom: 1%;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1vw;

    width: 17vw;
    height: auto;
}

/*
* Change quand on survole le button
*/
button:hover {
    background-color: #0056b3;
}

/*
* Change les bouttons avec la class submit
*/
.submit{
    background-color: #0056b3;
}

.monBouton{
    background-color: #0056b3;
}

.monBouton:hover{
    background-color: #6bacf3;
}

.submit:hover{
   background-color: #0b68cc;
}

a.link{
    color: rgb(238, 237, 185);
}

footer{
    color: rgb(238, 237, 185);
    background-color: #151922;
    text-align: center;
    height: 105px;
    bottom: 0;
}

.titleDesc, .titleLan, .description, .language{
    text-align: left;
}

.titleDesc, .titleLan{
    font-size: large;
    text-decoration: underline;
    margin-top: 20px;
}


div.title{
    font-size: x-large;
    text-decoration: underline;
}

.cell {
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 5px;
    text-align: left;

    text-align: center;
    font-style: italic;
}

.title, .description, .language {
    margin: 5px 0;
}

.title b, .description b, .language b {
    color: #333;
}



